/*
PFIN Style File
*/

body {
		font-family: 'Helvetica 55 Roman';
		font-size:14px;
		font-weight:400;
		color:#505050;
		background-repeat:no-repeat;
		background-image: linear-gradient(to bottom, #dddddd, #e5e5e5, #eeeeee, #f6f6f6, #ffffff);

		
}
/* Adding CSS for responsive design */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  button.btn {
	  white-space: normal;

  }
}

.btnEmpty {
	border-width:3px;
	border-radius:18px;
	
}

hr {
	border-color:#000;
}

/*
ul {
	list-style-type:none
}
*/
	
#PFIN_controllericon {
	float:right;
	height:50px;	
		
}

#facts  {
	background-color:#fff;
	border:2px solid #505050;
	padding:18px;
	margin:4px;
	
	
	
}
#detail {
	background-color:#fff;
  
	padding:18px;
	margin:4px;
	
	
	
}

#facts_container, #detail_container {
-webkit-box-shadow: 0px 0px 6px 2px rgba(170,170,170,1);
-moz-box-shadow: 0px 0px 6px 2px rgba(170,170,170,1);
box-shadow: 0px 0px 6px 2px rgba(170,170,170,1);
padding:2px;
background-color:#fff;
	
}

#detail_container { display:none; }

#PFIN_detail_title {
	display:none;
	padding-bottom: 10px; 
	border-bottom: 3px solid #000;
	margin-bottom: 10px;
}

.facts_title {
	font-family: 'Helvetica 95 Black';
	font-size:35px;
	color:#231f20;
	padding-right:10px;
	font-weight:400;
	line-height:90%;
	margin-bottom:3px;
}

.facts_box_top {
	border-top:8px solid #231f20;
}

.facts_box {
	border-top:3px solid #231f20;
}

.fact_row {
	border-bottom: 1px solid #838181;
	padding-top:3px;
	width:100%;
	min-width:100%;
}

.fact_row_no_bottom_line {
	padding-top:4px;
	width:100%;
	min-width:100%;	
}

/* no border on the bottom of this row so that it links with buttons below */
.fact_row_no_border {

}

button {
		text-align:center;
		margin: 3px;
		width:98%;
		margin-right:6px;
		padding-top:4px;
}

.fact_prompt {
	/* text-align:left; */
	font-weight:bold;
	font-family: 'Helvetica 55 Roman';
	font-size:14px;
	
}

.fact_entry {
	/* INFO */
	/* float:right;	*/
	margin-left:3px;
}

.fact_center {
	font-family: 'Helvetica 55 Roman';
	font-weight:900;
	text-align:center;
	padding-top:4px;
	font-size:16px;
	
}


.detail_head {
	font-size:130%;
	color:#231f20;

	
}

.detail_foot {
	font-size:130%;
	color:#231f20;

	
}

.detail_link {
	font-size:100%;

	
}

.factor_detail {

	padding: 20px; 
	font-size:18px;
	font-style: italic;
	color:#4d4d4d;
	/* word-break:break-all; */
	word-break:break-word;

}
.factor_text {
	font-size:18px;
	
}


.hidden {
	display:none;
}



.drawLine {
	border-top: 6px solid #231f20 !important;
	border-bottom: 0px;
	padding:0px !important;
	height:6px;
}



.blueText {
	color:#007bff;
	
}

.btn-consent {
	background-color: #231f20; 
	border-color:#231f20;
	color:#fff;
	
}

.btn-more {
	
	background-color: #fff;
	border-color:#000;
	color:#000;	
}

/* trial close classes */
.TC0, .TC1, .TC2, .TC3, .TC4, .TC5, .TC6, .TC7, .TC8, .TC9, .TC10, .TC11,  .TC12 {
	display:none;
}




