/* Build Tunnel */

.divSpacerTop {
	min-height:1vh;
}
.divSpacerNewline {
	min-height:1vh;
}

.step {
height:4vh;	
border-radius: 3vh;	
background: transparent linear-gradient(177deg, #FF9B00 0%, #FF1B00 100%) 0% 0% no-repeat padding-box;
width:18%;float:left;
text-align: center;

font-size: 1vh;
font: normal normal bold 17px/21px Helvetica Neue;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
color: #FFFFFF;

}

.spnStepText {
	min-height:4vh;
	vertical-align:center;
}

.pStepSpacer {
	margin-bottom:0.4vh;
}


.btnStepBubble {

padding-bottom:0.2vh;
padding-top:0.6vh;
padding-right:0.7vh;
padding-left:0.7vh;
border-radius: 4vh;
min-width:4vh;
background: #fff 0% 0% no-repeat padding-box;opacity: 1;	
}

.stepBubbleText {
text-align: center;
font: normal normal bold 22px/27px Helvetica Neue;
letter-spacing: 0em;color: #FF9200;opacity: 1;	
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;		
}

.progressMeter {
height: 4vh;
border-radius: 3vh;
width:80%; float:right; 
background: transparent linear-gradient(161deg, #FFEACA 0%, #FFBEA0 100%) 0% 0% no-repeat padding-box;
}

.btn-privacyux {
background: transparent linear-gradient(177deg, #FF9B00 0%, #FF1B00 100%) 0% 0% no-repeat padding-box;
border-radius: 32px;	
font: normal normal bold 17px/21px Helvetica Neue;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-align: center;
vertical-align: baseline;
padding:0;
overflow:none;	
padding-left:3%;
padding-right:3%;
height: 37px;
}

.btn-privacyux:active {
	background-color: #FF9B00;
	border-color:#FF9B00;

}



.btnText-privacyux {
font: normal normal bold 17px/21px Helvetica Neue;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-align: center;
vertical-align: baseline;
padding:0;
overflow:none;
}

.progressMeterCreep {
	height: 4vh;
	border-radius: 3vh;	
	text-align:left;width:0%;background: transparent linear-gradient(176deg, #FF9B00 0%, #FF1B00 100%) 0% 0% no-repeat padding-box;
}

#divProgress1 {
	width:20%;
}
#divProgress2 {
	width:40%;
}
#divProgress3 {
	width:60%;
}
#divProgress4 {
	width:80%;
}
#divProgress5 {
	width:100%;
}


h1 {
text-align: left;
font: normal normal normal 46px/55px Helvetica Neue;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
letter-spacing: 0px;
color: #FF9200;
opacity: 1;	
}

label, .lblText {
text-align: left;
font: normal normal bold 22px/27px Helvetica Neue;
letter-spacing: 0px;
color: #FF9200;
opacity: 1;	
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

#nofooterButton {
	display:none;
}

/* Mobile Accordion */
#mobileAccordion 
{
	font-size:smaller;
}
#mobileAccordion > input
{
	font-size:small;
}
.accorNext {
	float:right;
	font-size:larger;
}