
.btnBigRadio {
	transform: scale(2);
}

.inpBigCheck {
	transform: scale(2);
	margin-top:10px;
}



/*
input[type="radio"]:checked {
display:none;
}

input[type="radio"]:after {
display:none;
}

input[type="radio"]:checked:after {
display:block; transform: scale(2);
}
*/


/* NO SELECT CSS

*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  

*/