
/* Footer */
#footerBar {
bottom: 20%;
left: 0px;
width: 100%;
height: 11px;
background: transparent linear-gradient(111deg, #FF9B00 0%, #FF1B00 100%) 0% 0% no-repeat padding-box;
opacity: 1;	
position:absolute;
}

#footerBody {
bottom:0px;
left:0px;
height: 20%;
width:100%;
background: #0F0F0F 0% 0% no-repeat padding-box;
opacity: 1;
position:absolute;
padding-right:5%;padding-left:5%;
}

#footerButton {
bottom:5%;
right:3%;
position:absolute;
height:71px;
font-size:33px;	
}

.blackBubble, #blackBubble {
padding-bottom:3px;
padding-top:3px;
padding-right:12px;
padding-left:12px;
border-radius: 25px;
background: #0F0F0F 0% 0% no-repeat padding-box;
opacity: 1;
}
