
#phoneSilhouette, .phone {
top: 0px;
left: 5px;
width: 441px;
height: 875px;
background: #B5B5B5 0% 0% no-repeat padding-box;
border-radius: 46px;
opacity: 1;
}

#phoneButtonLeft0, .phone {
top: 118px;
left: 0px;
width: 13px;
height: 31px;
background: #B5B5B5 0% 0% no-repeat padding-box;
opacity: 1;
}

#phoneButtonLeft1, .phone  {
top: 179px;
left: 0px;
width: 13px;
height: 64px;
background: #B5B5B5 0% 0% no-repeat padding-box;
opacity:1;
}

#phoneButtonLeft2, .phone  {
top: 259px;
left: 0px;
width: 13px;
height: 64px;
background: #B5B5B5 0% 0% no-repeat padding-box;
opacity: 1;
}

#phoneButtonRight0, .phone {
top: 201px;
left: 438px;
width: 13px;
height: 99px;
background: #B5B5B5 0% 0% no-repeat padding-box;
opacity: 1;
}

#phoneContent {
top: 24px;
left: 30px;
width: 391px;
height: 827px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 32px;
opacity: 1;
}

.phone {
	position:absolute;
}
