/* EXTRA SMALL */
@media screen and (max-height: 559px)  {
	
	#mobileAccordion {
		display:block;
	}
	#divStepByStep {
		display:none;
	}			
	#divFooterUnderflow {
		display:none;
	}		


}

@media screen and (max-width: 575px)  {

	.phone {
		display:none;
	}	
	

}

/* SMALL */
@media screen and (max-height: 750px) and (min-height:560px) {
	
	#mobileAccordion {
		display:block;
	}
	#divStepByStep {
		display:none;
	}			
	#divFooterUnderflow {
		display:none;
	}		
	
	.divSpacerTop {

	}

	body { 	
		
	}	
	
	
	h1 {

	}
	
	label {

	}
	
	input {

	}
	
	.forcheck {

	}
	
	.description {

	}
	form {

	}
	
}

@media screen and (max-width: 767px) and (min-width: 576px) {

	.phone {
		display:none;
	}


	body { 	
		
	}
	
	.divSpacerTop {
		
	}
	
	
	
	h1 {

	}
	
	label {
	

	}
	
	input {

	}
	
	#footerBar, #footerBody, #footerButton {

	}
	
	#nofooterButton {

	}
	.forcheck {

	}
	form {

	}	
	#btnStepBubble {
		
	}
	
	#btnStepBubbleText {
;
	}

	.btn-privacyux {

	}
	.btnText-privacyux {

	}
	
	.progressMeter {

	}

	.progressMeterCreep {

	}
	
	#footer-button {

	}
	
	#blackBubble {
	
	}
	.btnBigRadio {

	}
	.inpBigCheck {

	}	
}

/* MEDIUM */
@media screen and (max-height: 860px) and (min-height:751px) {

	body {
		
	}
	#mobileAccordion {
		display:block;
	}
	#divStepByStep {
		display:none;
	}		
	#divFooterUnderflow {
		display:none;
	}

	
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	body { 	
		
	}
	h1 {
		padding-top:45px;
		font-size:24px;
		margin-bottom:0px;
		line-height:24px;
	}
	label {
		font-size:16px;
	}

	input {

	}
	.brSpacer {
    display:none;
	}
}

/* LARGE */
@media screen and (max-height: 900px) and  (min-height: 861px) {

	#mobileAccordion {
		display:none;
	}
	#divStepByStep {
		display:block;
	}		
	#divFooterUnderflow {
		display:block;
	}	
	#divFooterUnderflow {
		display:block;
	}
	
}




@media screen and (max-width: 1199px) and (min-width: 992px)  {


	h1 {
		padding-top:45px;
		font-size:32px;
		margin-bottom:0px;
		line-height:32px;
	}
	label {
		font-size:18px;
	}

	input {

	}


}

/* EXTRA LARGE */
@media screen and (min-height: 901px) {
	
	#mobileAccordion {
		display:none;
	}
	#divStepByStep {
		display:block;
	}		
	#divFooterUnderflow {
		display:block;
	}	
}

@media screen and (min-width: 1200px){

	.divSpacerTop {

	}
		
	#footer-button {


	}
	
	#blackBubble {
	
	}
	.btnBigRadio {

	}	
	.inpBigCheck {

	}
	#btnStepBubble {
	
	}
	
	#btnStepBubbleText {
	
	}
	
	.btn-privacyux {

	}
	.btnText-privacyux {

	}
	
	.progressMeter {

	}

	.progressMeterCreep {

	}
	
	#blackBubble {
		
	}
	.btnBigRadio {

	}	
	.inpBigCheck {

	}
	.divSpacerTop {

	}
	
	#btnStepBubble {
	
	}
	
	#btnStepBubbleText {
	
	}
	
	h1 {

	}

	.btn-privacyux {

	}
	.btnText-privacyux {

	}
	
	.progressMeter {

	}

	.progressMeterCreep {

	}
	
	label {

	}
	
	#footer-button {

	}
	
	#blackBubble {
		
	}
	.btnBigRadio {

	}	
	.inpBigCheck {

	}	
	h1 {
		padding-top:45px;
		font-size:32px;
		margin-bottom:0px;
		line-height:32px;
	}
	label {
		font-size:18px;
	}

	input {

	}	
}

