<style>
.consentCheqMailTemplate {
	font-family:arial; 
	font-size:18pt;
}

#footerBar {
	bottom: 20%;
	left: 0px;
	width: 100%;
	height: 11px;
	background: transparent linear-gradient(111deg, #FF9B00 0%, #FF1B00 100%) 0% 0% no-repeat padding-box;
	opacity: 1;	
	position:absolute;
}

#footerBody {
	bottom:0px;
	left:0px;
	height: 20%;
	width:100%;
	background: #0F0F0F 0% 0% no-repeat padding-box;
	opacity: 1;
	position:absolute;
	padding-right:5%;padding-left:5%;
} 
</style>
<div class="consentCheqMailTemplate">

<div style="top:0px;left:0px;width:100%; background:#0F0F0F 0% 0% no-repeat padding-box;opacity: 1;"><a style="display:inline-block;padding-top: .3125rem; padding-bottom: .3125rem; padding-left: .3125rem; margin-right:1rem; font-size: 1.25rem; white-space:nowrap;" href="#" style="width:40%;"><img src="[[serverpath]]/assets/20200831/PUXLSlogo.png" style="width:40%;" /></a></div>		

<p>Hello and welcome to PrivacyUX.</p>
<img src="[[qrcodeurl]]" style="float:right;" />
<p>In order to confirm your email and complete your setup, please click on the following URL:<br/><br/><a target='PrivacyUX' href='[[responseurl]]'>[[responseurl]]</a>.<br/></p>

<p><a href="[[responseurl]]">
<button style="	cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	text-transform: none;
	overflow: visible;
	margin: 0;">Confirm Your Email</button>
</p>

<p>Meanwhile, feel free to share the notice you made by sharing the QR code or offering this URL: <br/><br/><a href='[[noticeurl]]'>[[noticeurl]]</a><br/><br/>This link will be active for thirty (30) days or until you purchase a PrivacyUX Livestart subscription.<br/></p>

<p>
Do not respond to this email. If you have any questions please contact us at<br/>
<a href="mailto:support@privacycheq.com">support@privacycheq.com</a>
</p><p>
Thanks again for choosing PrivacyUX.<br/>
The PrivacyCheq Team
</p>

<footer id="footerBody" style="height:auto;padding-right:0px;padding-left:0px;">
  <div id="footerBar" style="width:100%;position:relative;"></div>
  <div class="container text-center text-white" style="padding-right:5%;padding-left:5%;"><center>
	<span class="text-center"><a href="[[serverpath]]/unsubscribe.php?uid=[[ccuserid]]">Unsubscribe</a></span> | 
	<span class="text-center"><a href="https://api.consentcheq.com/policy/f8836ccc-281a-400f-88d1-9482d85ff9dd" style="">Privacy Policy</a></span> 

  <br>
	<p class="m-0 text-center text-white">Copyright &copy; PrivacyCheq 2013-2021</p></center>
  </div>
</footer>

</div>


</div>