<style>
.consentCheqMailTemplate {
	font-family:arial; 
	font-size:18pt;
}

#footerBar {
	bottom: 20%;
	left: 0px;
	width: 100%;
	height: 11px;
	background: transparent linear-gradient(111deg, #FF9B00 0%, #FF1B00 100%) 0% 0% no-repeat padding-box;
	opacity: 1;	
	position:absolute;
}

#footerBody {
	bottom:0px;
	left:0px;
	height: 20%;
	width:100%;
	background: #0F0F0F 0% 0% no-repeat padding-box;
	opacity: 1;
	position:absolute;
	padding-right:5%;padding-left:5%;
} 

.confirmButton {
	cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	text-transform: none;
	overflow: visible;
	margin: 0;
}
</style>
<div class="consentCheqMailTemplate">

<div style="top:0px;left:0px;width:100%; background:#0F0F0F 0% 0% no-repeat padding-box;opacity: 1;"><a style="display:inline-block;padding-top: .3125rem; padding-bottom: .3125rem; padding-left: .3125rem; margin-right:1rem; font-size: 1.25rem; white-space:nowrap;" href="#" style="width:40%;"><img src="[[serverpath]]/assets/20200831/PUXLSlogo.png" style="width:40%;" /></a></div>		

<p>Thank you for creating your custom CCPA notice today. After you click <a href="[[responseurl]]">here</a> to verify your email and create your account, your custom notice can easily be shared, modified and demonstrated to colleagues, illustrating the benefits of adding "nutrition style" CCPA privacy notices to your user experience.</p>

<p><a href="[[responseurl]]">
<button style="	cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	text-transform: none;
	overflow: visible;
	margin: 0;">Confirm Your Email</button>
</p>

<p><a target='PrivacyUX' href='[[responseurl]]'>[[responseurl]]</a></p>



<footer id="footerBody" style="height:auto;padding-right:0px;padding-left:0px;">
  <div id="footerBar" style="width:100%;position:relative;"></div>
  <div class="container text-center text-white" style="padding-right:5%;padding-left:5%;"><center>
	<span class="text-center"><a href="[[serverpath]]/unsubscribe.php?uid=[[ccuserid]]">Unsubscribe</a></span> | 
	<span class="text-center"><a href="https://api.consentcheq.com/policy/f8836ccc-281a-400f-88d1-9482d85ff9dd" style="">Privacy Policy</a></span> 

  <br>
	<p class="m-0 text-center text-white">Copyright &copy; PrivacyCheq 2013-2021</p></center>
  </div>
</footer>

</div>


</div>