#b_box a,
#b_box p,
#b_box ul,
#b_box li,
#b_box strong,
#b_box em,
#b_box b,
#b_box i,
#b_box span,
#b_box div {
	margin:0;
	padding:0;
	border:none;
	background:none;
}

#b_box,
#b_box * {
    box-sizing: content-box;
}

#b_box strong,
#b_box blockquote strong {
	font-family: 'NeueBl' !important;
}

#b_box em {
	font-style:italic;
}

#b_box {
	width:970px;
	margin:0 auto;
	border:1px solid #ccc;
}

#b_box #b_header {
	padding:30px 10px 20px 15px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(204,236,252,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(204,236,252,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(204,236,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccecfc',GradientType=0 );


}

#b_box #b_pretitle,
#b_box #b_pretitle_mobile {
	font-family: 'NeueRoman';
	font-size:24px;
	line-height:24px;
	margin-bottom:14px;
}

#b_box #b_pretitle_mobile,
#b_box #b_title_mobile,
#b_box #b_text_mobile {display: none;}

#b_box #b_title,
#b_box #b_title_mobile {
	font-family:'NeueBlk';
	font-size:48px;
	line-height:48px;
	margin-bottom:5px;
}

#b_box #b_text,
#b_box #b_text_mobile {
	font-family: 'NeueRoman';
	font-size:16px;
	line-height:24px;
}

#b_box #b_products {
	width:340px;
	float:right;
	margin-left:46px;
}

#b_box a:hover {
    text-decoration: underline;
}

#b_box #header_wrapper {
    z-index: 20;
    position: relative;
}

#b_box #header_wrapper a {
	text-decoration:none;
	color:#000;
}

/*Nav-----------------------*/
#b_box #b_nav {
	background:#23408f;
	height:35px;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	position:relative;
	z-index:11;
}

#b_box #b_nav ul li {
	width:20%;
	float:left;
	position:relative;
}

#b_box #b_nav ul li a span {}

#b_box #b_nav ul li a {
	font-family: 'NeueRoman';
	display:block;
	font-size:15px;
	line-height:15px;
	font-weight:normal;
	font-style:normal;
	color:#fff;
	text-decoration:none;
	height:24px;
	padding:11px 0 0;
	background:#23408f;
	text-align:center;
	border-right:1px solid #fff;
    transition: all 0.3s;
}

#b_box #b_nav ul li.last a {
    border-right: none;
}

#b_box #b_nav ul li a:hover,
#b_box #b_nav ul li a.open {
    text-decoration: underline;
}

#b_box #b_nav ul li a.first {
	border:none;
}

#b_box #b_nav ul li a.active {
	background:#fff;
	color:#23408f;
	cursor:default;
}

#b_box #b_nav #b_dropdown {
    width:20%;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top:0;
    left: 0;
    padding-top:34px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

#b_box #b_nav #drop_menu_link.active {
	background:#fff;
	color:#23408f;
    cursor: pointer; 
}

#b_box #b_main_menu {
    z-index: 6;
}

#b_box #b_nav #drop_menu_link span {
    position: relative;
    z-index: 30;
}


#b_box #b_nav #b_dropdown.hover {
    height: auto;
    opacity: 1 !important;
}

#b_box #b_nav #b_dropdown ul {
	background:#23408f;
	padding:10px 0 10px;
    margin-right: 1px;
    cursor: default;
}

#b_box #b_nav ul li ul li,
#b_box #b_nav #b_dropdown ul li {
	width:auto;
	display:block;
	float:none;
	padding:4px 15px 4px 25px;
    font-size:14px;
	line-height:14px;
	text-transform:none;
	font-family:'NeueBl';
    color:#fff;
}

#b_box .yellowtext {
    background: yellow;
}

#b_box sub {
    font-size: 0.8em;
    position: relative;
    bottom: -1px;
}

#b_box #b_nav ul li ul li.b_dropdown_subtitle,
#b_box #b_nav #b_dropdown ul li.b_dropdown_subtitle {
    padding-left: 15px;
}

#b_box #b_nav ul li ul li.b_dropdown_subtitle.b_toppadding,
#b_box #b_nav #b_dropdown ul li.b_dropdown_subtitle.b_toppadding {
    padding-top: 15px;
}

#b_box #b_nav ul li ul li a,
#b_box #b_nav #b_dropdown ul li a {
	display:inline;
	height:auto;
	padding:0;
	font-size:14px;
	line-height:14px;
	text-transform:none;
	font-family:'NeueBl';
	text-align:left;
	border:none;
    color:#fff;
    text-decoration: none;
    cursor: pointer;
}

#b_box #b_nav ul li li a:hover,
#b_box #b_nav #b_dropdown ul li a:hover {
    text-decoration: underline;
}

#b_box #b_nav ul li li a.active,
#b_box #b_nav #b_dropdown ul li a.active {
	background:none;
	color:#fff200;
	text-decoration:none;
}



#b_box #b_content {
	position:relative;
}

#b_box #b_footer {
    width: 510px;
    border:1px solid #000;
    padding: 7px 0 5px 10px;
    font-size: 14px;
    line-height: 20px;
    color:#000;
    position: absolute;
    bottom: 218px;
    left: 99px;
}

#b_box #b_footer a {
    color:#23408f;
    text-decoration: none;
}

#b_box #b_footer a:hover {
    text-decoration: underline;
}

#b_box .dash-bullet {
    margin-bottom: 6px;
    position: relative;
    padding-left: 14px;
}

#b_box .dash-bullet::before {
    content:"\0020";
    display: block;
    position: absolute;
    top:6px;
    left:0;
    width: 5px;
    height: 1px;
    background: #333;    
}

/* Intro
-----------------------------------------------------------------------------*/
#b_box #ajax_content {
    opacity: 0;
}

#b_box #b_content #b_intro{
	height:926px;
	position:relative;
	overflow:hidden;
}

#b_box #b_content #facts img,
#b_box #b_content #yspot img,
#b_box #b_content #yyogurt img,
#b_box #b_content #ylight img,
#b_box #b_content #ylabel img {
	width:100%;
}

#b_box #intro_text {display: none;}
/* Facts
-----------------------------------------------------------------------------*/
#b_box #b_content #facts{
	position:absolute;
	top: 119px;
	right: 41px;
	width:300px;
	height:585px;
	z-index:10;
	background:#fff;
	border:1px solid #000;
	padding:20px 0px;
	font-size:15px;
	line-height:15px;
	box-shadow:4px 10px 10px rgba(0,0,0,0.2);
}

#b_box.front #b_content #facts {
	top:64px;
	right:15px;
}

#facts .facts_title {
	font-family: 'NeueBlk';
	font-size: 35px;
	line-height: 16px;
	color:#231f20;
	padding-left:10px;
	padding-right:10px;
    margin-bottom: 5px;
}

#facts a {
    color:#231f20;
    text-decoration: none;
	transition:all 0.5s;
    position: relative;
    z-index: 10;
}

#facts a.light {
	background:#FF0;
	text-decoration:underline;
	box-shadow:0 0 0px 2px #FF0;
}

#facts a:hover {
    text-decoration: underline;
}


#facts .facts_serving_size {
	padding-top:4px;
	padding-bottom:3px;
	font-size:14px;
	line-height:14px;
	padding-left:10px;
	padding-right:10px;
}

#facts .facts_serving_pre {
	padding-bottom:3px;
	font-size:14px;
	line-height:14px;
	padding-left:10px;
	padding-right:10px;
}

#facts .facts_box {
	border-top:13px solid #231f20;
	margin-left:10px;
	margin-right:10px;
}

#facts .facts_box.thin {
	border-width:5px;
}

#facts .fact_row {
	/*padding-left:10px;
	padding-right:10px;*/
	padding-bottom:2px;
	padding-top:5px;
	font-size:14px;
	line-height:14px;
	border-bottom:1px solid #838181;
	position:relative;
}

#facts .fact_row.pinkbg { background:#feeab8; padding-left: 10px; padding-right: 10px; margin-left: -10px; margin-right: -10px;}
#facts .fact_row.bluebg { background:#ebf3c0; padding-left: 10px; padding-right: 10px; margin-left: -10px; margin-right: -10px;}

#facts .fact_row.pinkbg.sub {padding-left: 28px;}
#facts .fact_row.bluebg.sub {padding-left: 28px;}


#facts .fact_row.sub {
	padding-left:18px;
}

#b_box #b_content #facts .plus_in_label,
#b_box #b_content #facts .minus_in_label {
    width: 40px;
    position: absolute;
    top: 23px;
    left: -33px;
    z-index: 2;
    display: none;
}

#b_box #b_content #facts .fact_row.pinkbg.withicon:before {
    content:"\0020";
    background: #fab2dc;
    width: 35px;
    height: 100%;
    border-top:1px solid #fab2dc;
    position: absolute;
    top:0;
    left:-39px;
    z-index: 1;
    display: none;
}

#b_box #b_content #facts .fact_row.bluebg.withicon:before {
    content:"\0020";
    background: #b2e7fa;
    width: 35px;
    height: 100%;
    border-top:1px solid #b2e7fa;
    position: absolute;
    top:0;
    left:-39px;
    z-index: 1;
    display: none;
}

#b_box #b_content #facts .fact_row.pinkbg.withicon.withicon_min:before,
#b_box #b_content #facts .fact_row.bluebg.withicon.withicon_min:before {
    width: 19px;
    left:-23px;
    display: none;
}

#b_box #b_content #facts .plus_in_label_min,
#b_box #b_content #facts .minus_in_label_min {
    width: 20px;
    position: absolute;
    top: 2px;
    left: -16px;
    z-index: 2;
    display: none;
}

#facts .fact_row small {
	font-size:12px;
	line-height:12px;
	font-family: 'NeueBl';
	color:#000;
}

#facts .fact_row div {
	float:right;
}

#facts strong {
	color:#000;
}

#facts .facts_descr {
	padding-left:20px;
	padding-right:10px;
	font-size:11px;
	line-height:12px;
	margin:8px 0 8px;
	position:relative;
    color:#000;
}

#facts .facts_descr:before {
	content:'*';
	font-size:12px;
	position:absolute;
	top:2px;
	left:12px;
}

#facts .facts_table {
	margin-left:10px;
	margin-right:10px;
    color:#000;
}

#facts table {
	width:100%;
}

#facts table th,
#facts table td {
	font-size:11px;
	line-height:11px;
}

#facts table th {
    text-align: left;
	padding-bottom:1px;
}

#facts table td {
	padding:3px 0 0px;
	vertical-align:bottom;
}

#facts table tbody {
	border-top:1px solid #4c4849;
}


/* End of Facts
-----------------------------------------------------------------------------*/
#b_box #b_content #yspot {
	width:100%;
	opacity:0;
}

#b_box #b_content #yyogurt {
	width: 307px;
	position: absolute;
	top: 147px;
	left: 30px;
	z-index: 1;
	margin-top:40px;
	opacity:0;
}

#b_box #b_content #ylight {
	width: 445px;
	position: absolute;
	top: 37px;
	left: 202px;
	z-index: 2;
	opacity:0;
}
#b_box #b_content #ylabel {
	width: 101px;
	position: absolute;
	top: 243px;
	left: 200px;
	z-index: 3;
	margin-left:60px;
	margin-top:-30px;
	opacity:0;
}

#b_box #b_content #ytext,
#b_box #b_content h2#ytext {
	font-family: 'NeueRoman';
	font-size: 25px;
	line-height: 35px;
	text-align: left;
	position: absolute;
	z-index: 4;
	top: 231px;
	left: 335px;
	color: #505050;
	opacity:0;
	margin-left:30px;
    padding: 0;
}

#b_box #b_content #ytext strong {
	font-weight:normal;
	font-family: 'NeueBl';
}

/*Pager------------------*/
#b_box #b_next_prev {
	position:absolute;
	top: 58px;
	right: 151px;
	z-index:5;
}

#b_box.front #b_next_prev {
	position:absolute;
	top: 14px;
	right: 125px;
	z-index:5;
}

#b_box #b_next_prev {}

#b_box #b_prev,
#b_box #b_next {
	float:left;
	display:block;
	font-family: 'NeueRoman';
	font-size:11px;
	line-height:11px;
	color:#383838;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	margin:0 5px;
}

#b_box .disabled_link {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
    display: none !important;
    opacity: 0;
}

#b_box #b_prev:hover,
#b_box #b_next:hover {
	color:#23408f;
}

#b_box #b_prev img,
#b_box #b_next img {
	width:22px;
	display:block;
	margin:0 auto 4px;
}

#b_box #b_prev img.b_prev_hover {
	display:none;
}

#b_box #b_next img.b_next_hover {
	display:none;
}

#b_box #b_prev:hover img.b_prev_cur,
#b_box #b_next:hover img.b_next_cur {
	display:none;
}

#b_box #b_prev:hover img.b_prev_hover,
#b_box #b_next:hover img.b_next_hover {
	display:block;
}

/*Colored pager-------------*/
/*#b_box #b_content.orange #b_prev,
#b_box #b_content.orange #b_next {
	color:#23408f;
}

#b_box #b_content.orange #b_prev img.b_prev_hover,
#b_box #b_content.orange #b_next img.b_next_hover {
	display:block;
}

#b_box #b_content.orange #b_prev img.b_prev_cur,
#b_box #b_content.orange #b_next img.b_next_cur {
	display:none;
}*/

/*Colored pager end-------------*/

#b_box #b_content {
	padding:30px 20px;
	font-family: 'NeueRoman';
	font-size:16px;
	line-height:24px;
    font-weight: normal;
	color:#505050;
}

#b_box blockquote p {
	font-size:16px;
	line-height:24px;
    font-weight: normal;    
}

#b_box #b_content p {
	margin-bottom:18px;
}

#b_box .b_subtitle {
	font-family: 'NeueBl';
	font-size:19px;
	line-height:19px;
	margin-bottom:8px;
	color:#25408f;
}

#b_box .b_subtitle.b_center,
#b_box .b_center {
    text-align: center;
}

#b_box h2#b_head {
    padding: 0;
    font-weight: normal;
}

#b_box #b_head,
#b_box #b_head strong {
	font-family: 'Museo' !important;
    font-weight: normal;
	font-size:38px;
	line-height:38px;
	color:#25408f;
	margin-bottom:30px;
}

#b_box .b_head_subtitle,
#b_box .b_head_subtitle strong,
#b_box h3.b_head_subtitle,
#b_box h3.b_head_subtitle strong {
	font-family: 'Museo' !important;
    font-weight: normal;
	font-size:24px;
	line-height:24px;
	color:#25408f;
	margin-bottom:20px;
}

.macos #b_box #b_head strong {
    position: relative;
    top:2px;
}

.tablet.landscape #b_box #b_head strong {
    position: relative;
    top:0px;
}


.tablet #b_box #b_head span {
    position: relative;
    top:4px;
}

.tablet #b_box #b_head .path {
    margin-top: -9px;
}

#b_box #b_head span,
#b_box .b_head_subtitle span {
	position:relative;
	padding-right:10px;
    display: block;
    float: left;
}

#b_box .b_head_subtitle .path {
    margin-top: -9px;
}

#b_box #b_head:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#b_box .b_example {
	color:#00aeef;
	font-family: 'Museo';
	font-size:24px;
	line-height:24px;
	margin-bottom:25px;
	padding-top:10px;
}

#b_box #b_expamle_box {
	position:relative;
	height:470px;
	margin-bottom:30px;
}


#b_box #b_expamle_list {
	width:220px;
	position:absolute;
    top: 40px;
    left: 104px;
    z-index: 4;
	border:2px solid #000;
    padding: 20px;
    font-size: 14px;
    line-height: 17px;
    font-family: 'NeueCn';
}

#b_box #b_expamle_box_label {
    height: 470px;
    position: absolute;
    top: 0;
    left: 367px;
}


#b_box .ex_path {
	background: #000;
	height: 2px;
	position: absolute;
	top: 26px;
	left: 281px;
	width: 0;
}

#b_box .ex_path2 {
	background:#000;
	position:absolute;
	top:0;
	right:0;
	width:2px;
	height:0;
}

#b_box .ex_path_arrow {
	width:12px;
	height:6px;
	position:absolute;
	left:50%;
	bottom:0;
	margin-left:-6px;
	background:url(../img/ex_arr.png) center center no-repeat;
	display:none;
}

#b_box #b_expamle_bg{
	width:545px;
	position:absolute;
	top:0;
	right:0;
    z-index: 1;
}

#b_box #b_expamle_light{
	width: 162px;
	height: 240px;
	position: absolute;
	top: 45px;
	right: 184px;
	z-index: 2;
	background: #fff;
}

#b_box #b_expamle_text{
	width: 144px;
	position: absolute;
	top: 54px;
	right: 191px;
    z-index: 3;
}

#b_box #b_download {
	padding:15px 0 15px;
    position: relative;
}

#b_box #b_download a{
	color:#25408f;
	text-decoration:none;
}

#b_box #b_download a strong{
    color:#25408f !important;
}

#b_box #b_download a:hover {
    text-decoration: underline;
}

#b_box #b_download a img {
    width: 30px;
	height:30px;
    position: absolute;
    top:50%;
    margin-top: -15px;
    left:0;
}

#b_box #b_wrap_box .b_info #b_download,
#b_box #b_download {
	font-size:14px;
    line-height: 20px;
    padding-left: 45px;
}

#b_box #b_wrap_box .b_info #b_download a {
    
}

#b_box #b_wrap_box .b_info a.b_text-link {
        color: #25408f;
        text-decoration: none;
}

#b_box #b_wrap_box .b_info a.b_text-link:hover{
        color: #25408f;
        text-decoration: underline;
}

#b_box #b_wrap_box .b_info #b_download.two_lines {
    line-height: 20px;
}

/*Glossary----------------*/
#b_box .b_alphabet {
	margin-bottom:35px;
}

#b_box .b_alphabet ul li {
	list-style:none;
	list-style-image:none;
	display:inline;
	margin-right:10px;
}

#b_box .b_alphabet ul li a {
	font-size:22px;
	line-height:22px;
	font-family: 'NeueBl';
	text-decoration:none;
	color:#00aeef;
}

#b_box .b_alphabet ul li a:hover {
	text-decoration:underline;
}

#b_box .b_alphabet ul li a.disabled ,
#b_box .b_alphabet ul li a.disabled:hover{
	color:#ccc;
	text-decoration:none;
	cursor:default;
}

#b_box .b_glossary_item {
	padding-left:15px;
	margin-bottom:30px;
}

#b_box .b_name {
	font-family: 'NeueBl';
	font-size:19px;
	line-height:19px;
	margin-bottom:3px;
	color:#25408f;
	margin-left:-15px;
}

#b_box .b_name a{
    text-decoration: none;
    color:#25408f;
}

#b_box .b_name a:hover {
    text-decoration: underline;
}

#b_box .text-orange {color:#fdb913;}
#b_box .text-violet {color:#a154a1;}
#b_box .text-green {color:#bfd730;}
#b_box .text-blue {color:#2ac5f4;}
#b_box .text-pink {color:#ec008c;}

#b_box .b_glossary_item.orange .b_name, #b_box .b_glossary_item.orange .b_name a {color:#fdb913;}
#b_box .b_glossary_item.violet .b_name, #b_box .b_glossary_item.violet .b_name a {color:#a154a1;}
#b_box .b_glossary_item.green .b_name, #b_box .b_glossary_item.green .b_name a {color:#bfd730;}

#b_box .b_name span,
#b_box .b_glossary_item.orange span,
#b_box .b_glossary_item.violet span,
#b_box .b_glossary_item.green .b_name span {
    color:#000;
}

#b_box blockquote {
	background:#a154a1;
	padding:10px;
	color:#352323;
	margin:15px 0 15px;
}

#b_box .orange-box blockquote {	background:#fee3a1;/*#dd770a*/}
#b_box .violet-box blockquote {	background:#e0d3e8;}
#b_box .green-box blockquote {	background:#e5efac;/*#7f9119;*/}

#b_box blockquote.infobox { background: #c8ebfa !important;}

#b_box .b_glossary_item.orange blockquote {background:#fdb913;/*#dd770a;*/}
#b_box .b_glossary_item.violet blockquote {background: #a154a1;}
#b_box .b_glossary_item.green blockquote {background:#bed62f;/* #7f9119*/}

#b_box .b_glossary_item blockquote {
	margin:0 auto 20px;
	padding:20px;
    display: inline-block;
}

#b_box blockquote strong {
	font-family: 'NeueRoman';
	color:#352323;
	font-weight:normal;
}


#b_box .violet-box #b_head,
#b_box .violet-box #b_head strong {
    color:#fff;
}




#b_box #b_wrap_box {
	padding:20px;
	border-radius:20px;
    min-height: 750px;
	
}

#b_box #b_wrap_box.blue-box {
	background:#c7eafb;
}

#b_box #b_wrap_box.orange-box {
	background:#fdb913;
}

#b_box #b_wrap_box.green-box {
	background:#bed62f;
}

#b_box #b_wrap_box.violet-box {
	background:#a154a1;
}

#b_box #b_wrap_box .b_info {
	width:490px;
	padding:15px;
	background:#fff;
	border-radius:15px;
}

#b_box #plus-minus {
	/*padding:15px 10px 0;
	background:#e4f5fd;*/
}


#b_box #plus-minus #plus,
#b_box #plus-minus #minus {
	position:relative;
	font-size:15px;
	line-height:22px;
	padding:15px;
    margin-bottom: 15px;
    box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
}

#b_box #plus,
#b_box #minus {
	position:relative;
	font-size:15px;
	line-height:22px;
	padding:15px;
}

#b_box #plus {
    background: #e5efac;
}

#b_box #minus {
    background: #fee3a1;
}

#b_box #plus img,
#b_box #minus img {
	width:30px;
	position:absolute;
	top:-5px;
	left:4px;
    display: none;
}

#b_box #plus.two_lines img,
#b_box #minus.two_lines img {
    top:3px;
}

#b_box #plus-minus #plus img,
#b_box #plus-minus #minus img {
	width:40px;
	position:absolute;
	top:3px;
	left:4px;
}

#b_box #b_wrap_box .b_info .b_submenu_content ul {
    margin-top: 5px;
}

/*#b_box #b_wrap_box .b_info .b_submenu_content ul li {
    margin-bottom: 0;
}*/

#b_box .b_submenu_content .b_submenu_littlebox {
    background: #c8ebfa;
    padding: 10px;
}

#b_box .b_submenu_content .b_submenu_subtitle {
    text-align: center;
    margin-bottom: 10px;
}

#b_box #b_wrap_box .b_info ul {
	margin:5px 0 11px 0px;
}


#b_box #b_wrap_box .b_info ul li {
    margin-bottom: 6px;
    position: relative;
}

#b_box .b_submenu_content li {
    padding-left: 14px;
}

#b_box .b_submenu_content li li {
    padding-left: 0;
}

#b_box .b_submenu_content li:before {
    content: "\0020";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    top:5px;
    left:0;
    background: #000;
}

#b_box .b_submenu_content .blue_list li,
#b_box .b_info .blue_list li{
    padding-left: 0;
    color:#25408f;
    margin-bottom: 1px;
}

#b_box blockquote .blue_list li strong {
    color:#25408f;
}

#b_box #b_wrap_box .b_info .b_submenu_content ul.blue_list {
    margin-top: 2px;
}

#b_box #b_wrap_box .b_info ul.blue_list li {
    margin-bottom: 1px;
}

#b_box .b_submenu_content .blue_list li:before,
#b_box .b_submenu_content li li:before {
    display: none;
}

#b_box .violet-box .b_submenu_content li:before {
    background: #bfd730;
}

#b_box .orange-box .b_submenu_content li:before {
    background: #ec008c;
}

#b_box .green-box .b_submenu_content li:before {
    background: #2ac5f4;
}

#b_box div.b_tip {
	padding:10px;
	background:#e4f5fd;
    margin: 5px 0;
}

#b_box strong.b_tip {
	color:#25408f;
	font-family: 'Museo';
}

#b_box strong.b_tip.black {
	color:#333;
}


#b_box .b_submenu_content table {
    border:2px solid #a154a1;
}

#b_box .b_submenu_content table td {
    text-align: left;
    padding:4px;
}

#b_box .b_submenu_content table th {
    background: #e4f5fd;
    text-align: left;
    padding:4px;
    border-right:2px solid #a154a1;
}

#b_box .b_submenu_content table td.tc {
    text-indent: 7%;
    border-right:2px solid #a154a1;
}

#b_box .b_submenu_content table td.nw {
    word-wrap:normal;
    white-space: nowrap;
}

/*markers
----------------------------------------------------------------*/
.marker {
	position:relative;
}

.marker q{
	/*width:100%;
	height:100%;*/
	position:absolute;
	top:-4px;
	left:-4px;
    bottom: 0;
    right: -1px;
	position:absolute;
	padding-right:4px;
	padding-bottom:5px;
	display:none;
	outline:4px solid #ffeb00;
}

#b_box #facts .white-fade {
}

.marker q.footnote {
    width: 94%;
    left: 7px;
}

.marker.orange-marker q {
	outline:4px solid #ec008c;
}

#facts .marker-block {
	display:none;
	position:absolute;
	width:102%;
	height:100%;
	top:0;
	left:-1%;
}

.marker-box {
    display: block;
    
}

.marker.marker-box q {
    width: auto;
    height: auto;
    left:5px;
    right: 5px;
    top:0px;
    bottom:0px;
}

.marker.marker-box q.color-blue {
    outline-color:#23408f;
}

.marker.marker-box q.color-pink {
    outline-color:#ec008c;
}

#b_box .b_head_subtitle .path div.l2.bt-pos {
    top:auto;
    bottom:4px;
}

#b_box .b_head_subtitle .path div.l3.bt-pos {
    top:0;
    bottom: auto;
}

#b_box .out-1 {
    position: absolute;
    top:-2px;
    left: -5px;
    width: 80%;
    height: 4px;
    background: #a154a0;
}

#b_box .out-2 {
    position: absolute;
    bottom:-2px;
    left: -5px;
    width: 80%;
    height: 4px;
    background: #a154a0;
}

#b_box .out-3 {
    position: absolute;
    top:-2px;
    left: -9px;
    width: 4px;
    height: 302px;
    background: #a154a0;
}

#b_box .out-4 {
    position: absolute;
    top:-2px;
    left: 77%;
    width: 4px;
    height: 300px;
    background: #a154a0;
}

#b_box .out-5 {
    position: absolute;
    top:-2px;
    right: -9px;
    width: 110px;
    height: 4px;
    background: #ffeb00;
}

#b_box .out-6 {
    position: absolute;
    top:-2px;
    right: -9px;
    width: 4px;
    height: 323px;
    background: #ffeb00;
}

#b_box .out-7 {
    position: absolute;
    top: 319px;
    right: -9px;
    width: 51px;
    height: 4px;
    background: #ffeb00;
}

#b_box .out-8 {
    position: absolute;
    top: 19px;
    right: 38px;
    width: 4px;
    height: 303px;
    background: #ffeb00;
}

#b_box .out-9 {
    position: absolute;
    bottom: 0px;
    right: 38px;
    width: 63px;
    height: 4px;
    background: #ffeb00;
}

#b_box .out-10 {
    position: absolute;
    top: -2px;
    right: 99px;
    width: 4px;
    height: 20px;
    background: #ffeb00;
}

#b_box .out-line,
#b_box .out-1,
#b_box .out-2,
#b_box .out-3,
#b_box .out-4,
#b_box .out-5,
#b_box .out-6,
#b_box .out-7,
#b_box .out-8,
#b_box .out-9,
#b_box .out-10 {
    display: none;
}

.orange #facts .marker-block {outline:4px solid #ec008c;}
.violet #facts .marker-block {outline:4px solid #bfd730;}
.green #facts .marker-block {outline:4px solid #2ac5f4;}

#b_head .path,
#b_box .b_head_subtitle .path {
	background:#ffeb00;
	height:20px;
	width:4px;
	position:absolute;
	top:50%;
	right:-4px;
	margin-top:-7px;
	display:none;
}

#b_head .path div,
#b_box .b_head_subtitle .path div {
	background:#ffeb00;
	position:absolute;
}

#b_box .orange-box #b_head .path,
#b_box .orange-box #b_head .path div {
	background:#ec008c;
}

#b_box .violet-box #b_head .path,
#b_box .violet-box #b_head .path div {
	background:#bfd730;
}

#b_box .green-box #b_head .path,
#b_box .green-box #b_head .path div {
	background:#2ac5f4;
}

#b_head .path div.l1 {
	height:4px;
	width:4px;
	top:50%;
	left:0;
	margin-top:-2px;
	z-index:11;
}

#b_head .path div.l2 {
	width:4px;
	height:4px;
	top:4px;
	right:0;
	left:auto;
}

#b_head .path div.l3 {
	width:4px;
	height:4px;
	top:auto;
	bottom:0;
	right:auto;
	left:0;
}

#b_box .b_head_subtitle .path div.l1 {
	height:4px;
	width:4px;
	top:50%;
	left:0;
	margin-top:-2px;
	z-index:11;
}

#b_box .b_head_subtitle .path div.l2 {
	width:4px;
	height:4px;
	top:4px;
	right:0;
	left:auto;
}

#b_box .b_head_subtitle .path div.l3 {
	width:4px;
	height:4px;
	top:auto;
	bottom:0;
	right:auto;
	left:0;
}

#b_box .b_head_subtitle .path.blue-line,
#b_box .b_head_subtitle .path.blue-line div.l1,
#b_box .b_head_subtitle .path.blue-line div.l2,
#b_box .b_head_subtitle .path.blue-line div.l3 {
    background:#23408f;
}

#b_box .b_head_subtitle .path.violet-line,
#b_box .b_head_subtitle .path.violet-line div.l1,
#b_box .b_head_subtitle .path.violet-line div.l2,
#b_box .b_head_subtitle .path.violet-line div.l3 {
    background:#a154a0;
}

#b_box .b_head_subtitle .path.pink-line,
#b_box .b_head_subtitle .path.pink-line div.l1,
#b_box .b_head_subtitle .path.pink-line div.l2,
#b_box .b_head_subtitle .path.pink-line div.l3 {
    background:#ec008c;
}

#b_box #inner_box {
	padding:0 40px;
	position:relative;
}

#b_box #b_wrap_box #b_element_menu {
	margin:15px 0 35px;
}

#b_box #b_wrap_box #b_element_menu li {
	display:block;
	margin-bottom:6px;
}

#b_box #b_wrap_box #b_element_menu li a {
	font-family: 'Museo';
	font-size:18px;
	line-height:18px;
	color:#222;
	text-decoration:none;
}

#b_box #b_wrap_box.blue-box #b_element_menu li a {
	color:#c7eafb;
}

#b_box #b_wrap_box.orange-box #b_element_menu li a {
	color:#352323;/*#dd770a;*/
}

#b_box #b_wrap_box.green-box #b_element_menu li a {
	color:#352323;/*#7f9119;*/
}

#b_box #b_wrap_box.violet-box #b_element_menu li a{
	color:#352323;/*#a154a0;*/
}


#b_box #b_wrap_box #b_element_menu li a:hover {
	text-decoration:underline;
}

#b_box #path-menu {
	position:absolute;
	top:0;
	left:28px;
	width:4px;
	height:14px;
	background:#222;
	display:none;
}

#b_box #path-menu div {
	position:absolute;
}

#b_box #path-menu .m1 {
	width:4px;
	height:4px;
	top:5px;
	right:0;
	background:#222;
}

#b_box #path-menu .m2 {
	width:4px;
	height:4px;
	top:0px;
	left:0;
	background:#222;
}

#b_box #path-menu .m3 {
	width:4px;
	height:4px;
	bottom:0px;
	left:0;
	background:#222;
}

#b_box #b_wrap_box.blue-box #path-menu,
#b_box #b_wrap_box.blue-box #path-menu div {
	background:#c7eafb;
}

#b_box #b_wrap_box.orange-box #path-menu,
#b_box #b_wrap_box.orange-box #path-menu div {
	background:#ec008c;
}

#b_box #b_wrap_box.green-box #path-menu,
#b_box #b_wrap_box.green-box #path-menu div {
	background:#2ac5f4;
}

#b_box #b_wrap_box.violet-box #path-menu,
#b_box #b_wrap_box.violet-box #path-menu div {
	background:#bfd730;
}



/*Submenu
---------------------------------------------------*/
#b_box .b_submenu_content {
	border:4px solid #222;
	padding:15px;
	border-radius:10px;
	font-size:12px;
	line-height:16px;
	margin-bottom:40px;
	display:none;
}

#b_box .b_submenu_content img {
    width: 100%;
}

#b_box #b_wrap_box.blue-box .b_submenu_content {
	border-color:#c7eafb;
}

#b_box #b_wrap_box.orange-box .b_submenu_content {
	border-color:#ec008c;
}

#b_box #b_wrap_box.green-box .b_submenu_content {
	border-color:#2ac5f4;
}

#b_box #b_wrap_box.violet-box .b_submenu_content {
	border-color:#bfd730;
}

#b_box #b_submenu_title {
	font-family: 'Museo';
	font-size:16px;
	line-height:16px;
	color:#222;
	margin-bottom:10px;
    font-weight: normal;
}


#b_box #b_wrap_box.blue-box #b_submenu_title {
	color:#c7eafb;
}

#b_box #b_wrap_box.orange-box #b_submenu_title {
	color:#352323;/*#fdb913;*/
}

#b_box #b_wrap_box.green-box #b_submenu_title {
	color:#352323;/*#bed62f;*/
}

#b_box #b_wrap_box.violet-box #b_submenu_title{
	color:#352323;/*#a154a1;*/
}


#b_box #sheets_title {
    color:#505050;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
    font-family: 'NeueRoman';
}

#b_box #block_left {
    float: left;
    width: 40%;
    padding: 20px 0 60px;
}

#b_box #block_middle {
    float: left;
    width: 26%;
    padding: 20px 0 60px;
}

#b_box #block_right {
    float: left;
    width: 34%;
    padding: 20px 0 60px;
}

#b_box #block_left img {
    display: block;
    width: 170px;
    margin: 40px 0 0 100px;
}

#b_box #block_middle img {
    display: block;
    width: 144px;
    margin: 0px;
}

#b_box #block_right img {
    display: block;
    width: 295px;
    margin: 0px;
}

#b_box #sheets {
    clear: both;
    padding: 0 0 20px;
}

#b_box #sheets img,
#b_box #sheets_vit img,
#b_box #sheets_gloss img {
    width: 150px;
    float: left;
    margin: 0 5px 0 0;

}

#b_box #sheets_vit {
    width: 390px;
    float: left;
} 

#b_box #sheets_gloss {
    width: 300px;
    float: left;
}

#b_box .resourses-page a{
    word-wrap:break-word;
}

#b_box .back_top {
    display: none;
    padding: 20px 0 0;
    text-align: center;
}

#b_box .glossary-page .back_top {
    padding: 0 0 40px;
    display: block;
}

#b_box .back_top a{
    font-size: 14px;
    font-family: 'NeueBl' !important;
    color:#505050;
    padding: 8px 10px;
    text-decoration: none;
}

#b_box .back_top a:hover {
    text-decoration: underline;
}


/* Download */
#b_download-items {
    width: 100%;
    border: none;
}

#b_download-items td.b_download-item-cover {
    width: 100px;
    vertical-align: top;
    padding-bottom: 15px;
}

#b_download-items td.b_download-item-cover img {
    width: 100%;
    height: auto;
}

#b_download-items td.b_download-item-title {
    vertical-align: middle;
    padding-bottom: 15px;
    padding-left: 20px;
}

















/* Clear
-----------------------------------------------------------------------------*/
.clear:after,
#facts .fact_row:after,
#b_box .b_head_subtitle:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}































