<!-- BLANK Navigation -->
<nav id="navbar">
  <div class="container">

	<a id="navbarHeader" class="navbar-brand" href="#" style="width:50%;"><img src="assets/pux-logo.png" style="width:40%;" /></a>
	
	<!--
	<button class="btn btn-privacyux" style="float:right;" aria-controls="navbarResponsive">Contact Us</button>
	-->
  </div>
  
</nav>