<!-- footer UNDERFLOW - add it BEFORE the content in the HTML so it flows over it -->
<div id="divFooterUnderflow">
	<div id="footerBar"></div>
	<div id="footerBody"></div>
	<button id="footerButton" class="btn btn-privacyux" onclick="submitNext(iStep);" style="display:none;">Next Step <img src="assets/buttons/icon_arrow.png" /></button>
</div>
<!-- end footer -->

