
<!-- Footer -->

<footer style="position:fixed;bottom:0;left:0;right:0;height:auto;padding-right:0px;padding-left:0px;height:10%;background: #000 0% 0% no-repeat padding-box;">
  <div style="width:100%;bottom: 10%;left: 0px;width: 100%;height: 11px;background: transparent linear-gradient(111deg, #FF9B00 0%, #FF1B00 100%) 0% 0% no-repeat padding-box;opacity: 1;"></div>
  <div class="container text-center text-white" style="padding-right:5%;padding-left:5%;">
	<span class="text-center"><a href="documentation.php" target="documentation">View Help Documentation</a></span> | 
	<span class="text-center"><a href="https://api.consentcheq.com/policy/f8836ccc-281a-400f-88d1-9482d85ff9dd" target="documentation">Privacy Policy</a></span> 

  <br>
	<p class="m-0 text-center text-white">Copyright &copy; PrivacyCheq 2013-<script>document.write(new Date().getFullYear());</script></p>
  </div>
</footer>

