<link rel="shortcut icon" type="image/x-icon" href="https://xcheq.com/assets/favicon-32x32.png"  />		
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Build CCPA compliant privacy notices for websites">
<meta name="author" content="PrivacyCheq">

<title>PrivacyUX Livestart</title>