<!-- Loader HTML -->
<link rel="stylesheet" type="text/css" href="https://xcheq.com/assets/loader/css-loader.css">
<div id="loader" class="loader loader-default" style="display:block;" data-text="Processing"></div>	
<script>
showLoader = function(boolOnOff) {
	console.log("in show loader");
	if (boolOnOff) {
		//turn on the loader spinner
		$("#loader").addClass("is-active");	
	} else {
		//turn off the loader spinner
		$("#loader").removeClass("is-active");	
	}
}
</script>
	