<!-- Mobile Accordian -->	
<div class="accordion" id="mobileAccordion">
  <form id="buildAll">
  <div class="card">
	<div class="card-header" id="headingOne" data-toggle="collapse" data-target="#mobileStepOne" aria-expanded="true" aria-controls="mobileStepOne">
	  <h2 class="mb-0">
		<button class="btn btn-link" type="button" >
		  Step One
		</button>
	  </h2>
	</div>
	<div id="mobileStepOne" class="collapse show" aria-labelledby="headingOne" data-parent="#mobileAccordion">
	  <div class="card-body">

			<div>What is the name of your company?&nbsp;<sup><i onclick="$(this).tooltip('show');" class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="Enter the legal name of your company as it appears in your privacy policy."></i></sup></div>	
			<input name="organization" type="text" placeholder="Company Name" style="width:100%"><br/><br/>
			
			<!--
			<div><u><a href="https://oag.ca.gov/privacy/ccpa#ccpafaq" target="new">Here's how CCPA defines personal information</a></u></div>
			<div for="collectdata">Do you collect any personal data? Y/N &nbsp;<sup><i onclick="$(this).tooltip('show');" class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="This key fact determines how your notice will be structured. If your company collects personal information, you’ll need to disclose the details in the next screens."></i></sup></div>
			
			<input name="radiocollectdata" type="radio" value="true" class="form-radio-input btnBigRadio" onclick="$('#collectdata').val('true');" checked> &nbsp;<span for="collectdatatrue" >Yes</span> &nbsp;&nbsp;&nbsp;
			<input name="radiocollectdata" type="radio" value="false" class="form-radio-input btnBigRadio" onclick="$('#collectdata').val('false');" > &nbsp;<span for="collectdatafalse" >No</span>
			-->
			<input type="hidden" name="collectdata" id="collectdata" value="true"></input>		
			<!-- <br/><br/>	-->	

			<div>What is the URL of your company's full privacy policy?&nbsp;<sup><i onclick="$(this).tooltip('show');" class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="Enter the web address of your company’s legal  privacy policy."></i></sup></div>	
			
			<input name="privacypolicyurl" type="text" class="form-control"  placeholder="https://www.company.com/privacy">	
	
			<button class="btn btn-link accorNext" type="button" onclick="acShowStep(2);">Next</button>
		
	  </div>
	</div>
  </div>
  
  <div class="card">
	<div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#mobileStepTwo" aria-expanded="false" aria-controls="mobileStepTwo">
	  <h2 class="mb-0">
		<button class="btn btn-link collapsed" type="button" >
		  Step Two
		</button>
	  </h2>
	</div>
	<div id="mobileStepTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#mobileAccordion">
	  <div class="card-body">

			
			<div >What does your company do? (in a sentence)&nbsp;<sup><i onclick="$(this).tooltip('show');" class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="Use this sentence to briefly describe to your customers what you need their personal data for."></i></sup></div>		
			<input name="orgfunction" type="text" class="form-control" placeholder="We create widgets."><br/>

			<div>What is your company's address?&nbsp;<sup><i onclick="$(this).tooltip('show');" class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="This information is used to identify your organization and give customers the ability to write your organization by post with any questions about their privacy."></i></sup></div> 	
			<input name="orglocation" type="text" class="form-control" placeholder="123 Elm St. Anytown US 00000"><br/>

			<div>What is your customer support phone number? (optional)&nbsp;<sup><i onclick="$(this).tooltip('show');" class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="If your customers have a question about how your organization treats their personal data, what phone number could they use?"></i></sup></div>	
			<input name="orgphone" type="text" class="form-control"  placeholder="800.123.3333"><br/>

			<div>What is the email address for privacy concerns? (optional)&nbsp;<sup><i onclick="$(this).tooltip('show');" class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="If your customers have a question about how your organization treats their personal data, what email address should they use?"></i></sup></div>
			<input name="orgemail" type="text" class="form-control" placeholder="privacy@company.com" ><br/>

			<div>What is the URL of your main website?&nbsp;<sup><i onclick="$(this).tooltip('show');" class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="Enter the web address of your company's marketing website."></i></sup></div>
			<input name="orgurl" type="text" class="form-control"  placeholder="http://www.company.com">
	
			<button class="btn btn-link accorNext" type="button" onclick="acShowStep(3);">Next</button>			
			
	  </div>
	</div>
  </div>
  
  <div class="card">
	<div class="card-header" id="headingThree" data-toggle="collapse" data-target="#mobileStepThree" aria-expanded="false" aria-controls="mobileStepThree">
	  <h2 class="mb-0">
		<button class="btn btn-link collapsed" type="button" >
		 Step Three
		</button>
	  </h2>
	</div>
	<div id="mobileStepThree" class="collapse" aria-labelledby="headingThree" data-parent="#mobileAccordion">
	  <div class="card-body">


			<div>What categories of personal data does your company collect?&nbsp;<sup><i onclick="$(this).tooltip('show');" class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="The CCPA identifies these as the possible categories of personal data that might be collected. This law requires that organizations that do business in California share which of these categories of data are collected."></i></sup></div>		
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#catidentifiersM').val(this.checked);"> &nbsp;<span for "accordionCheckInput" class="accordionCheck" onclick="$(this).prev().trigger('click');">Identifiers</span><br/>
			
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#catcustomerrecordsM').val(this.checked);"> &nbsp;<span for="catcustomerrecords" class="accordionCheck" onclick="$(this).prev().trigger('click');">Information in Customer Records</span><br/>
			
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#catlegallyprotectedM').val(this.checked);"> &nbsp;<span for="catlegallyprotected" class="accordionCheck" onclick="$(this).prev().trigger('click');">Legally Protected Characteristics</span><br/>
			
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#catcommercialpurchasingM').val(this.checked);"> &nbsp;<span for="catcommercialpurchasing" class="accordionCheck" onclick="$(this).prev().trigger('click');">Commercial Purchasing Information</span><br/>
			
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#catbiometricM').val(this.checked);"> &nbsp;<span for="catbiometric" class="accordionCheck" onclick="$(this).prev().trigger('click');">Biometric Information</span><br/>
			
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#catnetworkactivityM').val(this.checked);"> &nbsp;<span for="catnetworkactivity" class="accordionCheck" onclick="$(this).prev().trigger('click');">Internet or Network Activity</span><br/>
			
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#catgeolocationM').val(this.checked);"> &nbsp;<span for="catgeolocation" class="accordionCheck" onclick="$(this).prev().trigger('click');">Geolocation</span><br/>
			
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#catsensesM').val(this.checked);"> &nbsp;<span for="catsenses" class="accordionCheck" onclick="$(this).prev().trigger('click');">Information Typically Detected by the Senses</span><br/>
			
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#catemploymentM').val(this.checked);"> &nbsp;<span for="catemployment" class="accordionCheck" onclick="$(this).prev().trigger('click');">Employment Information</span><br/>
			
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#cateducationM').val(this.checked);"> &nbsp;<span for="cateducation" class="accordionCheck" onclick="$(this).prev().trigger('click');">Education Information</span><br/>
			
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#catinferencesM').val(this.checked);"> &nbsp;<span for="catinferences" class="accordionCheck" onclick="$(this).prev().trigger('click');">Data Inferences Used to Profile</span><br/>

			<input type="hidden" id="catidentifiersM" name="catidentifiers" value="false"></input>
			<input type="hidden" id="catcustomerrecordsM" name="catcustomerrecords" value="false"></input>
			<input type="hidden" id="catlegallyprotectedM" name="catlegallyprotected" value="false"></input>
			<input type="hidden" id="catcommercialpurchasingM" name="catcommercialpurchasing" value="false"></input>
			<input type="hidden" id="catbiometricM" name="catbiometric" value="false"></input>
			<input type="hidden" id="catnetworkactivityM" name="catnetworkactivity" value="false"></input>
			<input type="hidden" id="catgeolocationM" name="catgeolocation" value="false"></input>
			<input type="hidden" id="catsensesM" name="catsenses" value="false"></input>
			<input type="hidden" id="catemploymentM" name="catemployment" value="false"></input>
			<input type="hidden" id="cateducationM" name="cateducation" value="false"></input>
			<input type="hidden" id="catinferencesM" name="catinferences" value="false"></input>
				
			<button class="btn btn-link accorNext" type="button" onclick="acShowStep(4);">Next</button>
	  </div>
	</div>
  </div>
  
  <div class="card">
	<div class="card-header" id="headingFour" data-toggle="collapse" data-target="#mobileStepFour" aria-expanded="false" aria-controls="mobileStepFour">
	  <h2 class="mb-0">
		<button class="btn btn-link collapsed" type="button">
		 Step Four
		</button>
	  </h2>
	</div>
	<div id="mobileStepFour" class="collapse" aria-labelledby="headingFour" data-parent="#mobileAccordion">
	  <div class="card-body">

			<div>This personal information is collected for which purpose(s)?&nbsp;<sup><i onclick="$(this).tooltip('show');" class="fas fa-info-circle" style="color:black;" data-toggle="tooltip" data-html="true" data-placement="top" title="The CCPA identifies these as the possible purposes for collecting customers' personal data. This law requires that organizations that do business in California share which purposes personal data is collected for."></i></sup></div>			
			<input type="checkbox" class="accordionCheckInput"  onchange=" $('#purbusinessM').val(this.checked);"> &nbsp; <span for="purbusiness" class="accordionCheck" onclick="$(this).prev().trigger('click');">For Business Purposes</span>&nbsp;<sup><i  onclick="$(this).tooltip('show');" class="fas fa-question-circle" data-toggle="tooltip" data-html="true" data-placement="top" title='A "Business purpose" is defined in the CCPA as "the use of personal information for the business&apos;s or a service provider&apos;s operational purposes, or other notified purposes, provided that the use of personal information shall be reasonably necessary and proportionate to achieve the operational purpose for which the personal information was collected or processed or for another operational purpose that is compatible with the context in which the personal information was collected."'></i></sup><br/>
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#purcommercialM').val(this.checked);"> &nbsp; <span for="purcommercial" class="accordionCheck" onclick="$(this).prev().trigger('click');">For Commercial Purposes</span>&nbsp;<sup><i  onclick="$(this).tooltip('show');" class="fas fa-question-circle" data-toggle="tooltip" data-html="true" data-placement="top" title='A Commercial purpose" is defined in the CCPA as a means "to advance a person&apos;s commercial or economic interests, such as by inducing another person to buy, rent, lease, join, subscribe to, provide, or exchange products, goods, property, information, or services, or enabling or effecting, directly or indirectly, a commercial transaction." Commercial purposes do "not include for the purpose of engaging in speech that state or federal courts have recognized as noncommercial speech, including political speech and journalism."'></i></sup><br/>
			<input type="checkbox" class="accordionCheckInput" onchange=" $('#purconsumerM').val(this.checked);"> &nbsp; <span for="purconsumer" class="accordionCheck" onclick="$(this).prev().trigger('click');">For Fulfilling Consumers' Requests</span><br/>

			<input type="hidden" id="purbusinessM" name="purbusiness" value="false"></input>
			<input type="hidden" id="purcommercialM" name="purcommercial" value="false"></input>
			<input type="hidden" id="purconsumerM" name="purconsumer" value="false"></input>			
			<script>
			var arrPurChoices = ["purbusiness","purcommercial","purconsumer"];
			</script>	
	
			<button class="btn btn-link accorNext" type="button" onclick="acShowStep(5);">Next</button>			
	  </div>
	</div>
  </div>

  <div class="card">
	<div class="card-header" id="headingFive" data-toggle="collapse" data-target="#mobileStepFive" aria-expanded="false" aria-controls="mobileStepFive">
	  <h2 class="mb-0">
		<button class="btn btn-link collapsed" type="button">
		 Step Five
		</button>
	  </h2>
	</div>
	<div id="mobileStepFive" class="collapse" aria-labelledby="headingFive" data-parent="#mobileAccordion">
	  <div class="card-body">

			<p class="description">We've built a custom CCPA Notice at Collection using your inputs. This notice fully complies with CCPA, looks great no matter what device your consumers are using, and can easily be added wherever <a href="https://oag.ca.gov/privacy/ccpa#ccpafaq" target="new">personal information</a> is ingested.</p>

			<p class="description">We'll email you a link to your fully functional custom notice and instructions on how to test it in all of the required CCPA scenarios. For thirty (30) days, you can test and share with your colleagues. Don't worry, PrivacyCheq only uses your email to communicate with you about this demonstration.</p><br/>			

			<div for="emailcustomer">What is your email address?&nbsp;<sup><i onclick="$(this).tooltip('show');"  class="fas fa-info-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="PrivacyUX will use your email address to message you about your new privacy notice and to identify you when you maintain your notice in the future."></i></sup></div>
			<input name="emailcustomer" type="text" class="form-control"  placeholder="youremail@yourorg.com"><br/>

			<div>Tap the button below to deliver my CCPA Notice at Collection demonstration.</div>
			<button type="button" class="btn btn-privacyux" onclick="submitNext();">Submit</button>	
	  
	  </div>
	</div>
  </div>
  </form>
</div>	
<script>
function acShowStep(iACStep) {
$("#mobileStepOne").removeClass('show');
$("#mobileStepTwo").removeClass('show');
$("#mobileStepThree").removeClass('show');
$("#mobileStepFour").removeClass('show');
$("#mobileStepFive").removeClass('show'); 

if (iACStep == 1) { $("#mobileStepOne").addClass('show'); }
if (iACStep == 2) { $("#mobileStepTwo").addClass('show'); }
if (iACStep == 3) { $("#mobileStepThree").addClass('show'); }
if (iACStep == 4) { $("#mobileStepFour").addClass('show'); }
if (iACStep == 5) { $("#mobileStepFive").addClass('show'); }

}
</script>
<!-- End Mobile Accordian -->