<!-- Bootstrap Modal Fragment -->
<head/><div id="alertModal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button id="btnModalText" type="button" class="btn btn-alert" data-dismiss="modal" onclick="">Close</button>
      </div>
    </div>
  </div>
</div>
<script>function modalShow(strBody,strPrompt,strButton,clickFunction){if(strBody){$('.modal-body').html(strBody);}if(strPrompt){$('#exampleModalLabel').html(strPrompt);}if(strButton){$('#btnModalText').html(strButton);}if(clickFunction){$('#btnModalText').click(clickFunction);$('#alertModal').click(clickFunction);}$('#alertModal').modal('show');}</script>