<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: #000;">
  <div class="container">
	<a  id="navbarHeader" class="navbar-brand" href="#" style="width:50%;"><img src="assets/pux-logo.png" style="width:40%;" /></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
	  <ul class="navbar-nav ml-auto">
		
		<li class="nav-item active">
		  <a class="nav-link" href="login.php">Home
			<span class="sr-only">(current)</span>
		  </a>
		</li>

		<li>
			<a class="nav-link" href="https://www.xcheq.com/PrivacyUXDEV/edit.php">Edit</a>
		</li>
			

		<li class="nav-item">
		  <a class="nav-link" href="resetpw.php">Reset Password</a>
		</li>
		
		<li class="nav-item">
		  <a class="nav-link" href="logout.php">Logout</a>
		</li>
		
	  </ul>
	</div>
  </div>
</nav>