<!-- NOT USING THIS, intead now hard-coded in the DIVs of build.php -->

<!-- Progress Bar -->
<div class="progress">
	<div id="divProgress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<script>
	//advance progress bar
	function advanceProgress(iPercentage) {
		$("#divProgress").attr("aria-valuenow",iPercentage);
	}

</script>