<!-- Bootstrap core CSS -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="../assets/fontawesome/css/fontawesome.min.css" rel="stylesheet">
<link href="../assets/fontawesome/css/all.min.css" rel="stylesheet">
<style>
/* info bubbles */
i {
 font-size:larger;
 color:#000;
}
.tooltip-inner {
    text-align: left;
}
</style>

<link href="style/phone.css" rel="stylesheet" type="text/css" media="all">
<link href="style/navbar.css" rel="stylesheet" type="text/css" media="all">
<link href="style/buttons.css" rel="stylesheet" type="text/css" media="all">
<link href="style/buildTunnel.css" rel="stylesheet" type="text/css" media="all">
<link href="style/footer.css" rel="stylesheet" type="text/css" media="all">
<link href="style/resize.css" rel="stylesheet" type="text/css" media="all">


<style>

body {
text-align: left;
font: normal normal normal 20px/32px Helvetica Neue;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
letter-spacing: 0px;
color: #313131;	
	
}



</style>
