<style>
.consentCheqMailTemplate {
	font-family:arial; 
	font-size:18pt;
}

#footerBar {
	bottom: 20%;
	left: 0px;
	width: 100%;
	height: 11px;
	background: transparent linear-gradient(111deg, #FF9B00 0%, #FF1B00 100%) 0% 0% no-repeat padding-box;
	opacity: 1;	
	position:absolute;
}

#footerBody {
	bottom:0px;
	left:0px;
	height: 20%;
	width:100%;
	background: #0F0F0F 0% 0% no-repeat padding-box;
	opacity: 1;
	position:absolute;
	padding-right:5%;padding-left:5%;
} 
</style>
<div class="consentCheqMailTemplate">

<div style="top:0px;left:0px;width:100%; background:#0F0F0F 0% 0% no-repeat padding-box;opacity: 1;"><a style="display:inline-block;padding-top: .3125rem; padding-bottom: .3125rem; padding-left: .3125rem; margin-right:1rem; font-size: 1.25rem; white-space:nowrap;" href="#" style="width:40%;"><img src="[[serverpath]]/assets/20200831/PUXLSlogo.png" style="width:40%;" /></a></div>		


<p>Thanks for using the PrivacyUX Livestart service to create this custom CCPA Notice at Collection for your company.  Share this email with your colleagues to show the custom CCPA Notice At Collection you created for CCPA's most pressing operational requirement, answering common questions.
</p><p> 

Q. <b>Why do we even need new notices? Can't we just keep directing people to our legal privacy policy?</b>

</p><p> 

A. CCPA requires these "just in time" notices to be available to users prior to data collection - known as "Notice At Collection". The regulation specifically says you can't bury this notice in your legal privacy policy, it must be offered just before you gather data, and it needs to be there at every data ingestion point, not just in the footer of your website. A key benefit of PrivacyUX notices is the fact that they can use all of the interactive tools that smartphones offer to explain privacy - multiple layers of detail, sound, animations, even video. 

</p><p> 

Q. <b>Why is the "Nutrition Label" format a good idea for privacy notices? Can't we just write a paragraph of copy?</b>

</p><p> 

A. In the past few years, user awareness of digital privacy issues has skyrocketed, and some companies (like Apple) have built their reputation for privacy into a competitive advantage. With Apple recently requiring each of the 2.2 million apps in the App store to provide this "nutrition label" style of notice, Apple has set the new standard for privacy transparency.  With the PrivacyUX Livestart service, your web site, mobile apps, telemarketing, email marketing and even live events can deliver these great notices, building user trust while completely complying with CCPA's operational notice requirements.  

</p><p> 

Q. <b>Fair enough. What does it look like? How can I see and test our custom nutrition label notice?</b>

</p><p> 

A. Your custom notice can be viewed on any browser or web-based interface at this link. 
</p><p> 
<a href="[[noticeurl]]">[[noticeurl]]</a>
 </p><p> 
or, simply point any smartphone camera at this QR code. 

</p><p> 

<img src="[[qrcodeurl]]" />
<br/>
  Note:  This demonstration notice will be active for thirty days or until you purchase a PrivacyUX Livestart subscription.  

</p><p> 

 Q. <b>This looks good. How much effort does it take to integrate? How quickly can we be CCPA notice compliant?</b>  

</p><p> 

  A. This demonstration version becomes your notice when you complete your subscription. It's ready to go, right now. The administrative dashboard lets you complete any modifications or finishing touches if needed.  A simple link needs to be posted at every data ingestion point. With PrivacyUX Livestart, your company can be CCPA notice compliant within a day. 

</p><p> 

 Q. <b>We didn't budget for CCPA tech like this. What's the cost?</b>

</p><p> 

  A. PrivacyCheq's enterprise consent/opt out and transparency services are complex and multi-faceted and follow the typical SaaS pricing, but PrivacyUX Livestart was created to provide a very rapid low cost solution to the "first hurdle" of CCPA operational compliance - the requirement for just in time notices. The subscription fee is just $1995 annually, well under $200 per month. When you are ready to progress to complete operational CCPA compliance including management of opt-out, user rights, third-fourth-fifth party notification, we offer a discounted upgrade to the full PrivacyUX service.  
  
  Even if your company is planning to use an "all in one" platform or build in-house, PrivacyUX Livestart makes sense as a "gap" solution to rapidly get you compliant with CCPA notice requirements - the easiest thing for regulators to check simply by visiting your web site. 

</p><p> 

Q. <b>This all makes sense.  How quickly can get put this in place?</b>

</p><p> 

A. It's already built! To start using it, simply complete your subscription by <a href="https://xcheq.com/PrivacyUX/login.php" target="PrivacyUX">visiting the administration panel</a>.   
</p>


<p>
Do not respond to this email. If you have any questions please contact us at<br/>
<a href="mailto:support@privacycheq.com">support@privacycheq.com</a>
</p><p>
Thanks again for choosing PrivacyUX.<br/>
The PrivacyCheq Team
</p>



<footer id="footerBody" style="height:auto;padding-right:0px;padding-left:0px;">
  <div id="footerBar" style="width:100%;position:relative;"></div>
  <div class="container text-center text-white" style="padding-right:5%;padding-left:5%;"><center>
	<span class="text-center"><a href="[[serverpath]]/unsubscribe.php?uid=[[ccuserid]]">Unsubscribe</a></span> | 
	<span class="text-center"><a href="https://api.consentcheq.com/policy/f8836ccc-281a-400f-88d1-9482d85ff9dd" style="">Privacy Policy</a></span> 

  <br>
	<p class="m-0 text-center text-white">Copyright &copy; PrivacyCheq 2013-2021</p></center>
  </div>
</footer>

</div>


</div>