<style>
  .consentCheqMailTemplate {
	font-family:arial; 
	font-size:18pt;
  }
</style>
<div class="consentCheqMailTemplate">
<h1>This is a test of the email template</h1>
<hr/>
<p>How does this look? [[ccuserid]] Can I add more HTML elements? what will this do?</p>
</div>